*.swp
macos/Library/Application\ Support/Sublime\ Text\ 3/Packages/User/GoSublime
macos/Library/Application\ Support/Sublime\ Text\ 3/Packages/User/GoSublime-aux.sublime-settings
macos/Library/Application\ Support/Sublime\ Text\ 3/Packages/User/Package Control.cache
macos/Library/Application\ Support/Sublime\ Text\ 3/Packages/User/Package Control.last-run
macos/Library/Application\ Support/Sublime\ Text\ 3/Packages/User/Package Control.merged-ca-bundle
macos/Library/Application\ Support/Sublime\ Text\ 3/Packages/User/Package Control.user-ca-bundle
macos/Library/Application\ Support/Sublime\ Text\ 3/Packages/User/oscrypto-ca-bundle.crt
