repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-json
      - id: check-yaml
      - id: check-merge-conflict
      - id: detect-private-key
      - id: trailing-whitespace
        exclude: ".p10k.zsh"

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: 1.0.5
    hooks:
      - id: shell-lint
        exclude: ".p10k.zsh"


  - repo: https://github.com/rvben/rumdl-pre-commit
    rev: v0.1.10
    hooks:
      - id: rumdl
